.text-align{
    text-align: center;
}
.border-dash{
    border-radius: 50%;
    border-style: dashed;
    padding: 5px;
    margin: 30px 10px;
    color: #5f0f14;
}
.container-fluid
{
    background-color: #be1f29;
    margin-top: 100px;
    color: white;
}
.svg-box{
    margin-top: 10px;
}
// .container-fluid{
//     position: fixed;
//     bottom: 0px;
// }