.heading{
    margin: 25px 0px;
}
.btn{
    background-color: #7e1416;
    color: white;
}
.p-relative{
    position: relative;
    left: 93%;
    top: 7px;
}

.p-absolute{
    position: absolute;
    width: 92%;

}
.text-align {
    text-align: center;
}

.card {
    width: 500px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fdf0f1;
}

.padding {
    padding: 0px 20px;
}

.password {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.password a {
    text-decoration: none;
    color: red;
}