<div class="container">
    <div class="mt-3">
        <span>
            <a routerLink="/Home">My Account</a>
        </span>
        <img src="../../../assets/right_arrow.png" alt="Arrow">
        <span style="font-weight: 500;">Change Password</span>
    </div>
    <div class="heading">
        <h3>Change Password</h3>
    </div>
    <div>
        <form>
            <div class="card w-50">
                <div>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
                        <div class="card-body">
                            <div class="form-group ">
                                <label for="exampleInputPassword1" style="font-weight: 500;">Old Password</label>
                                <div class="mt-2">
                                    <input [type]="show ? 'text' : 'password'" class="form-control  p-absolute " placeholder="Password" formControlName="old_password"
                                      id="exampleInputPassword1">
                                    <svg class="w-64 h-64 p-relative" width="24" height="24" (click)="password()"
                                      xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="none" viewBox="0 0 24 24">
                                      <path
                                        d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z">
                                      </path>
                                      <path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path>
                                    </svg>
                                  </div>
                            </div>
                            <div class="form-group mt-3 ">
                                <label for="exampleInputPassword2" style="font-weight: 500;">New Password</label>
                                <div class="mt-2">
                                    <input [type]="show ? 'text' : 'password'" class="form-control  p-absolute " placeholder="Password" formControlName="new_password"
                                      id="exampleInputPassword2">
                                    <svg class="w-64 h-64 p-relative" width="24" height="24" (click)="password()"
                                      xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="none" viewBox="0 0 24 24">
                                      <path
                                        d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z">
                                      </path>
                                      <path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path>
                                    </svg>
                                  </div>
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn">Update Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- <div class="mb-2">
    <input [type]="show ? 'text' : 'password'" class="form-control  p-absolute " placeholder="Password" formControlName="password"
      id="exampleInputPassword1">
    <svg class="w-64 h-64 p-relative" width="24" height="24" (click)="password()"
      xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="none" viewBox="0 0 24 24">
      <path
        d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z">
      </path>
      <path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path>
    </svg>
  </div> -->