.heading {
    margin: 25px 0px;
}

.change {
    float: right;
    color: #db4042;
}

.btn {
    background-color: #7e1416;
    color: white;
}

.text-align {
    text-align: center;
}


.customBtn {
    border-radius: 8px;
    padding: 10px;
}

.otp {
    border-radius: 8px;
}

.form-modal input {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.confirm {
    margin: auto;
}

.section {
    min-height: calc(100vh - 280px);
}

.m-auto {
    margin: auto;
}

.p-relative {
    position: relative;
   
}
.p-absolute{
    position: absolute;
    bottom: 36px;
    width: 100%;
    left: 162px
}
#camera{
    display: none;   
}

@media screen   and (max-width: 700px)  {
    .row1{
        flex-direction: column;
    }
    .col-md-9{
        order: 2;
    }
    .col-md-3{
        order: 1;
    }
}
